.textabout {
    display: inline-flex;
}

.myimage {
    width: 40vw;
    height: auto;
    max-width: 40vw;   
    max-height: auto;
}

.font-name {
   font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.font-nav {
   font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: normal;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 50px;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
}

p {
   font-family: 'Montserrat', sans-serif;  
}
.font-small {
    font-family: 'Montserrat', sans-serif;
}

.font-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-small;
    text-align: center;
}
.img-thumbnail {
    width: 30vw;
    height: auto;
    max-width: 30vw;   
    max-height: auto;
    float: left;
}

.intro {
    float: right;
    margin-left: 10%
}